<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view id="userMessagesView" cache-view="false" view-title="{{ctrl.friend.$id}}" ng-init="ctrl.init()">

  <!--<div class="loader-center" ng-if="!doneLoading">
    <div class="loader">
      <i class="icon ion-loading-c"></i>
    </div>
  </div>-->

  <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">

    <div ng-repeat="content in ctrl.friend" class="message-wrapper">

      <div ng-init="sender=content.isSender?'left':'right'">
        <img ng-class="'profile-pic '+ sender" ng-src="img/noavatar.png" />
        <div ng-class="'chat-bubble '+ sender">
          <div class="message" ng-bind-html="content.content" autolinker></div>
          <div class="message-detail">
            <span class="bold" ng-if="content.sendTime - ctrl.now > 86400" ng-bind="content.sendTime | date:'dd/MM/yyyy hh:mm'"></span>
            <span class="bold" ng-if="content.sendTime - ctrl.now <= 86400" ng-bind="content.sendTime | date:'hh:mm'"></span>
          </div>
        </div>
      </div>
      <div class="cf"></div>

    </div>
  </ion-content>

  <form name="sendMessageForm" ng-submit="ctrl.sendMessage()" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
         <textarea ng-model="ctrl.message" placeholder="Send  a message..." required minlength="1" maxlength="1500" msd-elastic ng-enter="ctrl.message || ctrl.message !== ''?ctrl.sendMessage():''"></textarea>
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!ctrl.message || ctrl.message === ''"></button>
      </div>
    </ion-footer-bar>
  </form>

</ion-view>